<div class="portfolio-modal modal fade" id="smartLights" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="container-fluid">
          <div class="modal-body">
            <h2 class="text-center text-capitalize">Smart Lights</h2>
                <div class="text-center col-md-8 col-md-offset-2">
                  <%= t "modal.smartlights.intro" %>
                </div>
                <div class="text-center">
                  <img src="/assets/portfolio/smartlights_architecture.png" alt=""/>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <h3><%= t "server".capitalize %></h3>
                        <%= t "modal.smartlights.server" %>
                      </div>
                      <div class="col-md-4">
                        <h3><%= t "client".capitalize %></h3>
                        <%= t "modal.smartlights.client" %>
                      </div>
                      <div class="col-md-4">
                        <h3>Arduino</h3>
                        <%= t "modal.smartlights.arduino" %>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>